nav{
    min-width: 265px;
    max-width: 256px;;
    background: rgba(0,0,0, 0.85);
    height: 100vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    h1{
        img{
            height: 40px;
            position: relative;
            top: 10px;
            margin-right: 2px;
        }
    }
    .new-song-button{
        background: #fa233b;
        border: none;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        padding: 15px 40px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: normal;
        
    }
    footer{
        position: absolute;
        bottom: 50px;
        left: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p{
            cursor: default;
            color: rgba(255, 255, 255, 0.5);
        }
        a{
            color: rgba(255, 255, 255, 0.5);
            i{
                margin-left: 5px;
                transform: rotate(45deg);
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}